torch==2.3.0
torchaudio==2.3.0+cu121
torchvision==0.18.0+cu121
bitsandbytes
accelerate
datasets
einops
fastapi
fire
gradio
matplotlib
numpy<2.0.0
packaging
pandas==2.0.3
peft
protobuf
pydantic
pyyaml
safetensors
scipy
sentencepiece
sse-starlette
tiktoken
transformers
trl
uvicorn
xformers
requests==2.31.0
pyarrow<15.0.0a0,>=14.0.1
unsloth[colab-new] @ git+https://github.com/unslothai/unsloth.git
