torch
torchaudio
torchvision
bitsandbytes
accelerate
datasets
einops
fastapi
fire
gradio
matplotlib
numpy
packaging
pandas
peft
protobuf
pydantic
pyyaml
safetensors
scipy
sentencepiece
sse-starlette
tiktoken
transformers
trl
uvicorn
xformers
requests
pyarrow<15.0.0a0,>=14.0.1
unsloth[colab-new] @ git+https://github.com/unslothai/unsloth.git
triton